@import "src/assets/styles/main.scss";

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  align-self: center;
  width: 100%;
  height: 100%;
  max-width: 300px;

  &__input {
    background-color: $middleViolet;
    border-radius: 10px;
    height: 21px;
    width: calc(100% - 36px);
    color: $beige;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    padding: 12px 18px;
    margin-bottom: 32px;
  }

  &__passwordInput {
    width: 100%;
    position: relative;

    & img {
      position: absolute;
      right: 5%;
      top: 14%;
      cursor: pointer;
    }
  }

  &__label {
    display: flex;
    align-self: flex-start;
    align-items: center;
    cursor: pointer;
    column-gap: 7px;
    color: $darkViolet;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    margin-bottom: 32px;

    &:hover {
      color: $middleViolet;
    }
  }

  &__checkbox {
    appearance: none;
    cursor: pointer;
    background-color: $beige;
    color: $middleViolet;
    width: 20px;
    height: 20px;
    border: 2px solid $middleViolet;
    border-radius: 1.5px;
    transform: translateY(-0.075em);
    display: grid;
    place-content: center;

    &::before {
      content: "";
      width: 12px;
      height: 12px;
      border-radius: 1.5px;
      transform: scale(0);
      transition: 120ms transform ease-in-out;
      background-color: $middleViolet;
    }

    &:checked::before {
      transform: scale(1);
    }
  }

  &__button {
    color: $darkViolet;
    background-color: $lightViolet;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    border-radius: 10px;
    height: 45px;
    width: 100%;
    cursor: pointer;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.3);

    &:hover {
      box-shadow: inset 4px -4px 4px rgba(255, 255, 255, 0.5),
        inset -4px 4px 4px rgba(255, 255, 255, 0.5);
    }
    &:disabled {
      filter: brightness(80%);
      &:hover {
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.3);
      }
    }
  }

  &__errors {
    font-weight: 300;
    font-size: 14px;
    line-height: 17px;
  }
}
